<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Solamimi</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ja.min.js" charset="UTF-8"></script>
  <?!= HtmlService.createHtmlOutputFromFile('js').getContent(); ?>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <?!= HtmlService.createHtmlOutputFromFile('css').getContent(); ?>
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
<div class="container">
<a class="navbar-brand" href="javascript:document.reload();">SolaMimi</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
<span class="navbar-toggler-icon"></span>
</button>

<!--
<div class="collapse navbar-collapse" id="navbar">
<ul class="navbar-nav mr-auto">
<li class="nav-item"><a class="nav-link" href="/listeneds">聞いた</a></li>
</ul>
</div>
-->

</div>
</nav>

<div class="container" id="app">

<div class="card bg-light mb-3"><div class="card-body">
  <form class="simple_form new_listened_search" id="new_listened_search" novalidate="novalidate" action="#" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="AVLBnr8LxUBASSCV+Wa1tmfHqI9zoTVEO2iZ4lDXUUCs3emWY2i8CwxPWf+qMZ5/PuXzCCbk6+akjArKl3j3Ww==" />
    <div class="form-inputs">
      <div class="row">
        <div class="col-md">
          <div class="form-label-group select optional listened_search_spaces">
          <label class="control-label select optional" for="listened_search_user">介護対象者</label>
          <select class="form-control select optional form-control select2" name="listened_search[user]" id="listened_search_user">
            <option v-for="riyousha in riyoushas" v-bind:value="riyousha.id">{{ riyousha.name }}</option>
          </select>
          </div>
        </div>
        <div class="col-md">
          <div class="form-label-group date_range optional listened_search_listen_at">
            <label class="date_range optional" for="listened_search_listen_at">対象日時</label>
            <div class="input-group input-group-datepicker">
              <input class="date_range optional form-control datepicker" type="text" name="listened_search[listen_at_from]" id="listened_search_listen_at_from" />
              <div class="input-group-prepend for-datepicker">
                <span class="input-group-text"><i class="material-icons">event</i></span>
              </div>
              <span class="input-group-prepend addon"><span class="input-group-text"><i class="material-icons">more_horiz</i></span></span>
              <input class="date_range optional form-control datepicker" type="text" name="listened_search[listen_at_to]" id="listened_search_listen_at_to" />
              <div class="input-group-prepend for-datepicker">
                <span class="input-group-text"><i class="material-icons">event</i></span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md">
          <label class="control-label select optional" for="listened_search_listen_words">単語</label>
          <div class="form-label-group select optional listened_search_listen_words">
          <select class="form-control select optional form-control select2" multiple='multiple' name="listened_search[listen_words][]" id="listened_search_listen_words">
            <option v-for="word in listen_words" v-bind:value="word">{{ word }}</option>
          </select>
          </div>
        </div>
        <div class="col-md">
          <div class="form-label-group int_range optional listened_search_value">
            <label class="int_range optional" for="listened_search_value">値</label>
            <div class="input-group"><input class="int_range optional form-control" type="number" name="listened_search[value_from]" id="listened_search_value_from" />
            <span class="input-group-prepend"><span class="input-group-text"><i class="material-icons">more_horiz</i></span></span>
            <input class="int_range optional form-control" type="number" name="listened_search[value_to]" id="listened_search_value_to" /></div>
          </div>
        </div>
      </div>
    </div>
</form></div></div>

<div class="card bg-light mb-3"><div class="card-body">
  <div id="chart_div" class="img-fluid"></div>
</div></div>

<div class="card bg-light mb-3"><div class="card-body for-table">
  <div id="table_div" class="img-fluid"></div>
</div></div>

<div class="justify-content-around row">
  <a class="btn btn-secondary col-md-2 col-sm-4" target="_blank" href="https://github.com/solamimi">Github</a>
  <a class="btn btn-warning col-md-2 col-sm-4" target="_blank" href="https://docs.google.com/presentation/d/e/2PACX-1vRQtaNXag06aekIZfjse7CFORTKTQBU8rCZB2LC6tv2aztgPNlfqXytZesZDIx5Avc5luDuKMmPKP9j/pub">Slide</a>
  <a class="btn btn-info col-md-2 col-sm-4" target="_blank" href="https://docs.google.com/spreadsheets/d/15uqxj5YSYxbc-wK7hi-b65GrrT9n-0eJ8hNXfhBsiqE/edit#gid=1422079612">SpreadSheet</a>
  <a class="btn btn-primary col-md-2 col-sm-4" target="_blank" href="#" id="download-link">CSV</a>
</div>

</div><!-- /container -->

<footer class="bg-dark fixed-bottom">
<div class="container">
<p class="text-right text-light mb-0">&copy; swan_match</p>
</div>
</footer>
<script>

</script>
</body>
</html>
